body
{text-align: center;
margin-top: 5px;
margin-bottom: 5px;
font-family: 'Barlow Semi Condensed', sans-serif;

}



h1{font-family: 'Dancing Script', cursive;
font-size: 4em;}
 p {margin-top: 0px;}

 #sub {font-family: 'VT323', monospace;
font-size: 2em}

.Top-Container{
  background-color: green;
margin-top: 0px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
border-radius: 50px;

}
.foto {height: 200px;}
.row{display: inline-inline-block;
  margin-left: auto;
margin-right: auto;}

.Middle-Container{}


.Bottom-Container{}



.top-cloud{position: relative;
  display: inline-block;
left: 200px;

}

.bottom-cloud { position: absolute;
left: 100px;}

hr{width: 50%;}
body{margin: 2;}
